<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Главная страница</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/images/logo.png">Сверточные нейросети
        </div>
        <div class="registration">
            {% if logged_in %}
                <a href="logout">Выход</a>
            {% else %}
                <a href="registration">Регистрация</a>
                <a href="login">Вход</a>
            {% endif %}
        </div>
    </header>

    <main>
        <h1>Добро пожаловать!</h1>
        <div class="description">
            <p>Зарегистрируйтесь или войдите в уже существующий аккаунт, 
            чтобы начать работу с веб-приложением.
            Рекомендуется выполнять задания после посещения 
            лекционных занятий и получения основной информации 
            по теме сверточных нейронных сетей (СНС). В веб-приложении 
            предусмотрена последовательность, которая
            обеспечивает логическую целостность и 
            максимальную эффективность усвоения материала, поэтому по 
            возможности выполняйте задания по порядку.</p>
        </div>
        <a href="zadanie1" class="btn">Задание 1. Входной тест</a>
        <a href="zadanie2" class="btn">Задание 2. Построение архитектуры СНС</a>
        <a href="zadanie3" class="btn">Задание 3. Классификация рукописных цифр при помощи СНС</a>
        <div id="cookie-banner" style="display:none">
            Данное веб-приложение использует cookies, нажмите кнопку "Принять", если вы согласны 
            с условиями обработки ваших данных
            <button id="accept-cookies">Принять</button>
        </div>
        <script src="/static/js/cookies.js"></script>
    </main>

    <footer>
        &copy; 2026, Ермоленко И.С., ВГСПУ, МИФ<br>
        Просим оценить эффективность веб-приложения 
        в следующей <a href="https://forms.yandex.ru/u/69a55c0002848f80e010da56" class="styled-link">Яндекс-форме</a>.<br>
        Ваше мнение важно для улучшения качества веб-приложения!
    </footer>
</body>

</html>