<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Задание 1</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/zadanie1.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/images/logo.png">Сверточные нейросети
        </div>
        <div class="registration">
            <a href="logout">Выход</a>
            <a href="/">К заданиям</a>
        </div>
    </header>

    <main>
        <div class="container">
            <h1>Задание 1. Входной тест</h1>
            <form id="quizForm">
                <p class="question" id="questionText"></p>
                <div id="options"></div>
                <button type="submit">Далее</button>
            </form>
            <p id="result"></p>
        </div>
        <script src="/static/js/zadanie1.js"></script>
    </main>

    <footer>
        &copy; 2026, Ермоленко И.С., ВГСПУ, МИФ<br>
        Просим оценить веб-приложение в следующей 
        <a href="https://forms.yandex.ru/u/69a55c0002848f80e010da56" class="styled-link">Яндекс-форме</a>.<br>
        Ваше мнение важно для улучшения качества веб-приложения!
    </footer>

</body>

</html>